@model IEnumerable<xmlParserASP.Models.ProductSetQtyWhenMinWithNameViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Встановлення мінімальних залишків</h1>

<p>
    <a asp-action="ExportToExcel" class="btn btn-primary">Експортувати у еxcel файл</a> 
    @* <form asp-action="ImportFromExcel" method="post" enctype="multipart/form-data">
        <input type="file" name="file" class="btn btn-primary" />
        <button type="submit" class="btn btn-primary">Import from Excel</button>
    </form> *@
</p>

<p>
    <a asp-action="Create">Створити новий запис</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>№</th>
            <th>
                @Html.DisplayNameFor(model => model.Sku)
            </th>
            <th>@Html.DisplayNameFor(model => model.ProductName)</th>
            <th>
                @Html.DisplayNameFor(model => model.MinQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SetQuantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @{
            int counter = 1;
        }
@foreach (var item in Model) {
        <tr>
            <td>@counter</td>            
            <td>
                @Html.DisplayFor(modelItem => item.Sku)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td> 
                @Html.DisplayFor(modelItem => item.MinQuantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SetQuantity)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
            counter++;
}
    </tbody>
</table>
