@{
    ViewBag.Title = "Download Photos";
}

<h2>Photos downloaded succsefully </h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-success">
        @ViewBag.Message
    </div>
}

@if (ViewBag.CorrectUrl != null)
{
    <text>Wrong links:</text>

    int count = 1;
    List<string> correctUrls = ViewBag.CorrectUrl;
    foreach (var correctUrl in correctUrls)
    {
        <br />
        @correctUrl
        /*@Html.Raw(count + "  " + correctUrl)*/       ;
        count++;
    }
}

@if (ViewBag.WrongUrl != null)
{
    <text>Wrong links: model, url</text>

    int count = 1;
    List<KeyValuePair<string, string>> wrongUrls = ViewBag.WrongUrl;

    <table class="wrong">
        <tr>
            <th>Model</th>
            <th>URL</th>
        </tr>

        @foreach (var kvp in wrongUrls)
        {
            <tr>
                <td>@kvp.Key</td>
                <td>@kvp.Value</td>
            </tr>
        }
    </table>


    @*int count = 1;
    List<KeyValuePair<string, string>> wrongUrls = ViewBag.WrongUrl;
    foreach (var kvp in wrongUrls)
    {
        <br />
        @($"{kvp.Key}, {kvp.Value}")
        @Html.Raw(count + "  " + wrongUrl)
        ;
        count++;
    } *@
}



@*@using (Html.BeginForm("Index", "DownloadPhotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group">
        <label for="xmlFile">XML File:</label>
        <input type="file" id="xmlFile" name="xmlFile" class="form-control" />
    </div>

    <div class="form-group">
        <label for="folderPath">Destination Folder:</label>
        <input type="text" id="folderPath" name="folderPath" class="form-control" readonly="readonly" />
    </div>

    <div class="form-group">
        <button type="button" id="btnBrowseXml" class="btn btn-primary">Select XML File</button>
    </div>

    <div class="form-group">
        <button type="button" id="btnBrowseFolder" class="btn btn-primary">Select Destination Folder</button>
    </div>

    <button type="submit" class="btn btn-success">Download Photos</button>
}

@section scripts {
    <script>
        $(function () {
            // ...
        });
    </script>*@

