@model DownloadPhotosViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Download supplier images</h1>

<h2>Download from xml</h2>

<br />
<form asp-action="DownloadFromXml" method="post">
    <label for="selectedSupplierXmlSetting">Select supplier:</label>
    <select id="selectedSupplierXmlSetting" name="selectedSupplierXmlSetting">
        <option value="">-- Select --</option>
        @foreach (var setting in Model.SupplierXmlSettings)
        {
            <option value="@setting.SupplierXmlSettingId">@setting.SettingName</option>
        }
    </select>
    <br /><br />

    @using (Html.BeginForm("Index", "DownloadPhotos", FormMethod.Post))
    {
        <div class="form-group">
            <label>Rename photos?</label>
            <div>
                <label>
                    <input type="radio" name="renamePhotos" value="true" /> Yes
                </label>
                <label>
                    <input type="radio" name="renamePhotos" value="false" checked /> No
                </label>
            </div>
        </div>

        <div id="renameBlock" style="display: none;">
            Rename if fields is empty will set like: <b>Model-A-SupplierName_OriginalFileName.jpg</b><br /><br />
            <table width="70%">
                <thead>
                    <tr>
                        <th>Prefix:</th>
                        <th>Main Part:</th>
                        <th>Suffix:</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="text" id="prefix" name="prefix" class="form-control" /></td>
                        <td><input type="text" id="mainPart" name="mainPart" class="form-control" /></td>
                        <td><input type="text" id="suffix" name="suffix" class="form-control" /></td>
                    </tr>
                </tbody>
            </table>

        </div>
        <br />
        <button type="submit" class="btn btn-primary">Download photos from xml</button>
    }
</form>
<br />
<br />


<h2>Download from excel</h2>
<p>

    <form asp-action="DownloadFromXL" method="post" enctype="multipart/form-data">
        
        <label for="selectedSupplierXmlSetting">Select supplier:</label>
        <select id="selectedSupplierXmlSetting" name="selectedSupplierXmlSetting">
            <option value="">-- Select --</option>
            @foreach (var setting in Model.SupplierXmlSettings)
            {
                <option value="@setting.SupplierXmlSettingId">@setting.SettingName</option>
            }
        </select>
        <br /><br />

        @using (Html.BeginForm("DownloadFromXL", "DownloadPhotos", FormMethod.Post))
        {

            <label for="ModelColumn">Model column</label>
            <input type="text" asp-for="ModelColumn" value="sku">
            <label for="PictureColumn">Picture column</label>
            <input type="text" asp-for="PictureColumn" value="image_name">
            <label for="SheetNumber">Sheet number</label>
            <input asp-for="SheetNumber" value="1">
            <br/>

            <br/>

            <label for="ExcelFile">Select Excel File</label>
            <input type="file" id="xmlFile" name="xmlFile" class="form-control" required />
            <br/>

            <button type="submit" class="btn btn-success">Download from Xl</button>

        }
    </form>
</p>



@section scripts {
    <script>
        $(document).ready(function () {
            $('input[name="renamePhotos"]').on('change', function () {
                var selectedValue = $(this).val();
                if (selectedValue === "true") {
                    $('#renameBlock').show();
                } else {
                    $('#renameBlock').hide();
                }
            });
        });
    </script>
}







@* звантаження фото НА сервер

    <script>
    document.getElementById("excelFile").addEventListener("change", function () {
    var fileName = this.value.split("\\").pop();
    var label = document.querySelector('[for="ExcelFile"]');
    label.innerHTML = "Selected Excel File: " + fileName;
    });

    document.getElementById("photoFolder").addEventListener("change", function () {
    var folderName = this.value.split("\\").pop();
    var label = document.querySelector('[for="PhotoFolder"]');
    label.innerHTML = "Selected Photo Folder: " + folderName;
    });
    </script>
    *@

@* <div class="form-group">
    <label for="filePath" class="control-label">Choose folder:</label>
    <select name="filePath" class="form-control" asp-items="@ViewBag.stringPath">
    </select>
    </div> *@
@*     <label for="ModelColumn">Model column</label>
    <input type="text" asp-for="ModelColumn" value="sku">
    <label for="PictureColumn">Picture column</label>
    <input type="text" asp-for="PictureColumn" value="image_name">
    <label for="SheetNumber">Sheet number</label>
    <input asp-for="SheetNumber" value="1">
    <br /><br />

    <input type="file" id="xmlFile" name="xmlFile" class="form-control" />
    <input type="hidden" asp-action="DownloadFromXL" />
    <br />

    <br />
    <button type="submit" class="btn btn-success">Download from Xl</button>


    @* <label for="PhotoFolder">Select Photo Folder</label>
    <input type="file" id="photoFolder" name="photoFolder" class="form-control" webkitdirectory required/>
    <br/> *@


