@model xmlParserASP.Entities.SupplierXmlSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SupplierXmlSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierXmlSettingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierXmlSettingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartGammaIDFrom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartGammaIDFrom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imageNameInCatImg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imageNameInCatImg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamAttrNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamAttrNode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierXmlSettingID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
