@model IEnumerable<xmlParserASP.Entities.SupplierXmlSetting>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SettingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Supplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartGammaIDFrom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.paramAttribute)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelXlColumn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PriceNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DescriptionNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NameNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrencyNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PictureNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PicturePriceQuantityXlColumn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imageNameInCatImg)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhotoFolder)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantityLongTermNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParamNode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ParamAttrNode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.OrderBy(s=>s.SettingName)) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SettingName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Supplier.SupplierName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartGammaIDFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.paramAttribute)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModelXlColumn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PriceNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DescriptionNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrencyNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PictureNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PicturePriceQuantityXlColumn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imageNameInCatImg)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoFolder)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantityLongTermNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupplierNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParamNode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParamAttrNode)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SupplierXmlSettingId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SupplierXmlSettingId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SupplierXmlSettingId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
