@model xmlParserASP.Models.PriceQuantityViewModel

<h1>Update price and quantity</h1>

@if (ViewBag.SelectSupSetting != null)
{
    <h3 class="alert-danger">@ViewBag.SelectSupSetting</h3>
}

@{
    var sortedSetteings = Model.SupplierXmlSettings.OrderBy(s => s.SettingName).ToList();
}

<form asp-controller="UpdatePriceQuantity" asp-action="Result" asp-method="post">
    <table class="priceQuantityTable">
        <thead>
            <tr>
                <th>Supplier setting</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < sortedSetteings.Count; i++)
            {
                <tr>
                    <td>
                        @sortedSetteings[i].SettingName
                    </td>
                    <td>
                        @if (sortedSetteings[i].SettingName == "Kanlux_qty_XL")
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else if (sortedSetteings[i].SettingName == "Gamma_LED")
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else if (sortedSetteings[i].SettingName == "Gamma_kompon")
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else if (sortedSetteings[i].SettingName == "Feron_XML")
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else if (sortedSetteings[i].SettingName == "Y-test_xml")
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else
                        {
                            <input type="checkbox" name="PriceList" value="@sortedSetteings[i].SupplierXmlSettingId" checked>
                        }
                    </td>
                    <td>
                        @if (sortedSetteings[i].SettingName == "Kanlux_price_XL")
                        {
                           
                            <input type="checkbox" name="QuantityList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else if (sortedSetteings[i].SettingName == "Y-test_xml")
                        {
                            <input type="checkbox" name="QuantityList" value="@sortedSetteings[i].SupplierXmlSettingId" unchecked>
                        }
                        else
                        {
                            <input type="checkbox" name="QuantityList" value="@sortedSetteings[i].SupplierXmlSettingId" checked>
                        }
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td>
                    <button type="button" class="btn-light" onclick="selectAll('PriceList')">Select all</button>
                    <button type="button" class="btn-light" onclick="deselectAll('PriceList')">Deselect All</button>
                </td>
                <td>
                    <button type="button" class="btn-light" onclick="selectAll('QuantityList')">Select all</button>
                    <button type="button" class="btn-light" onclick="deselectAll('QuantityList')">Deselect All</button>
                </td>
            </tr>
        </tfoot>
    </table>
    <br /><br />
    <button type="submit" class="btn btn-primary">Update price and quantity</button>
</form>

<script>
    function selectAll(listName) {
        var checkboxes = document.getElementsByName(listName);
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = true;
        });
    }

    function deselectAll(listName) {
        var checkboxes = document.getElementsByName(listName);
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
        });
    }
</script>


@* <script>

    var checkboxes = document.getElementsByName('SettingList');

    function selectAll() {

        checkboxes.forEach(function (checkbox) {
            checkbox.checked = true;
        });
    }

    function deselectAll() {
        checkboxes.forEach(function (checkbox) {
            checkbox.checked = false;
        });
    }
</script> *@