@* @model PriceQuantityViewModel *@

<h1> Result of prices and quantity update</h1>
<h2>Prices</h2>

@{
   @if (ViewBag.PriceError != null)
{
    <div style="color: red">@ViewBag.PriceError</div>
}

@if (ViewBag.QuantityError != null)
{
    <div style="color: red">@ViewBag.QuantityError</div>
}


    var prices = ViewBag.UpdatePriceResult;
    var quantity = ViewBag.UpdateQuantityResult;
    int count = 0;

    if (prices != null)
    {
        foreach (var price in prices)
        {
            count++;
            <div style="color: @price.Item2">@count _ @price.Item1</div>
        }
    }
}
<h2>Quantity</h2>

@{
    count = 0;

    if (quantity != null)
    {
        foreach (var qty in quantity)
        {
            count++;
            <div style="color: @qty.Item2">@count _@qty.Item1</div>
        }
    }
}