@model xmlParserASP.Entities.Gamma.MmSupplierXmlSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MmSupplierXmlSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SettingName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SettingName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Path)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Path)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MainProductNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MainProductNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamAttribute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamAttribute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelXlColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelXlColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CurrencyNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CurrencyNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PictureNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PictureNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PicturePriceQuantityXlColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PicturePriceQuantityXlColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhotoFolder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhotoFolder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDbStock1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDbStock1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDbStock2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDbStock2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDbStock3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDbStock3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDbStock4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDbStock4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityDbStock5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityDbStock5)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QuantityLongTermNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QuantityLongTermNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SupplierNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SupplierNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ParamAttrNode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ParamAttrNode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.QtyInBoxColumnNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.QtyInBoxColumnNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SupplierXmlSettingId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
