@model IEnumerable<xmlParserASP.Entities.MyAttribute>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MyAttrNameRU)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyAttrNameUA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyAttrGroup)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MyAttrNameRU)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyAttrNameUA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyAttrGroup)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.MyAttrId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.MyAttrId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.MyAttrId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
