@model IQueryable<xmlParserASP.Entities.TestGamma.OldMy.MyAttribute>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Оформление заказа</title>
</head>
<body>
<div>
        @*<a href="@Url.Action("Suppliers", "Supplier")">Suppliers</a>*@
    <a href="@Url.Action("ProcessExcel")"> Process Excel</a>
    @* <a href="@Url.Action("Attributes", "MyAttributes")"> Attributes</a> *@

</div>
<div>
    <table>
        <tr>
            <th>
                Category Id
            </th>
            <th>
                Category Name
            </th>
        </tr>
        @*@foreach (var cat in Model)
        {
            <tr>
                <td>
                    @cat.MyAttrId
                </td>
                <td>
                    @cat.MyAttrNameUA
                </td>
            </tr>

        }*@

    </table>
</div>
@*
<div>
    <h3>Форма оформления покупки</h3>
    <p>Для оформления покупки заполните следующие поля:</p>
    <form method="post">
        <input type="hidden" value="@ViewBag.PhoneId" name="PhoneId" />
        <table>
            <tr>
                <td>Имя:</td>
                <td><input type="text" name="User" /> </td>
            </tr>
            <tr>
                <td>Адрес:</td>
                <td><input type="text" name="Address" /></td>
            </tr>
            <tr>
                <td>Телефон:</td>
                <td><input type="text" name="ContactPhone" /></td>
            </tr>
            <tr><td><input type="submit" value="Отправить" /> </td><td></td></tr>
        </table>
    </form>
</div>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
*@

</body>
</html>

