@model xmlParserASP.Entities.MyCategory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>MyCategory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyParentCatId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyParentCatId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCatNameRU)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCatNameRU)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MyCatNameUA)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MyCatNameUA)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.MyCatId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
